body{
    margin: 0;
    padding: 0;
}

.header{
    background: white;
    border-bottom: 1px solid lightgray;
}
.container{
    width:980px;
    margin:auto;
    padding: 20px 0;
}
.container-left{
  
}
.logo{
    float: left;
    margin-right: 5px;
}
.logo img{
    display: block;
}
.menu{
    float: left;
}
.menu-item{
    float: left;
    padding: 8px 10px; 
    /*padding: 8px 10px;은
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 10px;
      padding-left: 10px; 과 같다*/
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}