        /* HEADER */
        header {
            
        }
        
        header .inner {
            max-width: none;
            height: auto;
            padding: 0  20px;
            
        }
        
        header .main-group {
            float : none;
            display: block;
        }

        header .logo {
            padding: 20px;
        }
        
        header .logo a {
          
        }
        
        header .logo a:hover {
           
        }
        
        header .main-menu {
            float : none;
            display: block;
            border-top: 1px solid #e3e3e3;
        }
        
        header .main-menu .toggle {

        }

        header .main-menu li {
            
        }
        
        header .main-menu li a {
            border-top: 1px solid #e3e3e3;
        }
        
        header .main-menu li a:hover{
            
        }
        
        header .sub-group {
            float : none;
            display: block;
            
        }
        
        header .sub-group .toggle {
            
        }

        header .btn-group {
           display : block;
        }
        
        header .btn-group .sign-in {
            width: 100%;
            justify-content: center;
            margin-bottom: 10px;
        }

        header .btn-group .sign-up {
            width: 100%;
            justify-content: center;
            margin-bottom: 10px;
            
        }

        #search {
            width : 100%;
            height: 40px;
            text-align: center
        }

        header .sub-menu {
            justify-content: center
        }

        header .toggle {
            display : none;
        }

        header .toggle.on{
            display : block;
        }

        #toggle-btn {
            display : block;
        }

/* VISUAL */
.section-visual {
     background-image: url(../img/bg-small.jpg);
}
        
.section-visual .inner{
    display: block;
    max-width: none;
    padding: 0 1;
}
        
.section-visual .summary {
    margin-right: 0;
    text-align: center;
    margin-bottom: 50px;
}
        
        
.section-visual .summary h2 {
            
}
        
.section-visual .summary p {
            
}
        
#sign-form {
    width: auto;
    max-width: 500px;
    margin: 0 auto;
}
        
#sign-form li {
            
}
        
#sign-form li:last-child {
            
}
        
#sign-form .input-text{
            
}
        
#sign-form .caption{
           
}
        
#sign-form p {
            
}
        
#sign-form [type="submit"]{
            
}


      /* FEATURE */

.section-feature {
    padding: 0 50 0 50px;
}

.section-feature .inner {
    max-width: none;
    
}


.section-feature .summary h2 {
    
}

.section-feature .summary p {
    
}

.section-feature .video {
    
}

.section-feature .tiles {
    
}

.section-feature .tiles .inner {

}

.section-feature .tiles ul {
    
}

.section-feature .tiles ul li {
    width : 50%;
}

.section-feature .tiles ul li:nth-child(2) {
    border-right: none;
}
.section-feature .tiles ul li:last-child {
    
}

.section-feature .tiles ul li img {
    
}

.section-feature .tiles li h3 {
    
}

.section-feature .tiles li p {
   
}

        /* WHERE IS */
.section-where-is .inner{
    max-width: none;
    padding: 30px;
}

.section-where-is .summary h2 {
    
}

.section-where-is .summary p {
    
}

#map {
   
}

        /* CARD */

.section-card {
    
}

.section-card .inner{
    max-width: none;
    padding: 0px 20px 0 20px;
}

.section-card .card {
     
}

.section-card .card .cell1 {
   
}

.section-card .card .cell1 .btn {
    width: 170px;
    text-align: center;
    justify-content: center;
}

.section-card .card .cell2 {
   
}


        /* FOOTER */

.footer {
    
}

.footer .inner {
    
    max-width: none;
    padding: 0 20px;
}

.footer .link {
    
}

.footer .link ul li a:hover{

}

.footer .link1 ul {
  
}


.footer .link1 ul li {
    
}

.footer .link1 ul li:last-child {
    
}

.footer .link1 ul li a {
    
}

.footer .link2 {
   
}

.footer .link2 ul {
    
}

.footer .link2 ul li {
    
}

.footer .link2 ul li:first-child{
    
}

.footer .link2 ul li a {
    
}

.footer .logo {
    display: none;
}

.footer .logo:hover svg{
   
}